<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.952</string>
			<key>long</key>
			<string>120.235</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>东风本田-思域</string>
		<key>price</key>
		<string>110</string>
		<key>order</key>
		<string>43%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>东风本田-思域.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.892</string>
			<key>long</key>
			<string>120.278</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>广汽本田-雅阁</string>
		<key>price</key>
		<string>232</string>
		<key>order</key>
		<string>39%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>广汽本田-雅阁.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.909</string>
			<key>long</key>
			<string>120.401</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>一汽-大众-迈腾</string>
		<key>price</key>
		<string>123</string>
		<key>order</key>
		<string>73%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>一汽-大众-迈腾.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.952</string>
			<key>long</key>
			<string>120.305</string>
		</dict>
		<key>carType</key>
		<integer>1</integer>
		<key>carName</key>
		<string>华晨宝马-宝马3系</string>
		<key>price</key>
		<string>234</string>
		<key>order</key>
		<string>53%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>华晨宝马-宝马3系.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.902</string>
			<key>long</key>
			<string>120.202</string>
		</dict>
		<key>carType</key>
		<integer>1</integer>
		<key>carName</key>
		<string>一汽-大众奥迪-奥迪A4</string>
		<key>price</key>
		<string>345</string>
		<key>order</key>
		<string>99%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>一汽-大众奥迪-奥迪A4.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.956</string>
			<key>long</key>
			<string>120.215</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>北京奔驰-奔驰C级</string>
		<key>price</key>
		<string>345</string>
		<key>order</key>
		<string>26%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>北京奔驰-奔驰C级.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.951</string>
			<key>long</key>
			<string>120.285</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>上汽通用别克-英朗</string>
		<key>price</key>
		<string>654</string>
		<key>order</key>
		<string>78%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>上汽通用别克-英朗.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.941</string>
			<key>long</key>
			<string>120.233</string>
		</dict>
		<key>carType</key>
		<integer>2</integer>
		<key>carName</key>
		<string>一汽-大众-高尔夫</string>
		<key>price</key>
		<string>231</string>
		<key>order</key>
		<string>43%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>一汽-大众-高尔夫.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.951</string>
			<key>long</key>
			<string>120.232</string>
		</dict>
		<key>carType</key>
		<integer>1</integer>
		<key>carName</key>
		<string>上汽集团-荣威RX5</string>
		<key>price</key>
		<string>245</string>
		<key>order</key>
		<string>67%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>上汽集团-荣威RX5.jpg</string>
	</dict>
	<dict>
		<key>location</key>
		<dict>
			<key>lat</key>
			<string>31.951</string>
			<key>long</key>
			<string>120.229</string>
		</dict>
		<key>carType</key>
		<integer>0</integer>
		<key>carName</key>
		<string>一汽丰田-卡罗拉</string>
		<key>price</key>
		<string>155</string>
		<key>order</key>
		<string>34%</string>
		<key>banDay</key>
		<string>周一</string>
		<key>imageName</key>
		<string>一汽丰田-卡罗拉.jpg</string>
	</dict>
</array>
</plist>
